Repository KistoLab/FindX-2H, pull requests merged in 2025-09, with the labels that each got.

#9 task model
  backend/.gitignore
  backend/next.config.ts
  backend/src/models/Task.model.ts
  backend/src/models/index.ts
  backend/src/resolvers/mutations/example/create-example.ts
  backend/src/resolvers/mutations/example/index.ts
  backend/src/resolvers/mutations/index.ts
  backend/src/resolvers/mutations/task/generate-multiple-tasks.ts
  backend/src/resolvers/mutations/task/generate-task.ts
  backend/src/resolvers/mutations/task/index.ts
  backend/src/resolvers/queries/example/example.ts
  backend/src/resolvers/queries/example/index.ts
  backend/src/resolvers/queries/index.ts
  backend/src/schemas/example.schema.ts
  backend/src/schemas/index.ts
  backend/src/schemas/task.schema.ts
  backend/src/services/MULTIPLE_TASKS_GUIDE.md
  backend/src/services/README.md
  backend/src/services/ai.service.ts
  backend/src/services/task-utils.service.ts
  backend/src/services/taskGenerator.service.ts
  backend/src/services/taskstemplates/README.md
  backend/src/services/taskstemplates/algorithms.templates.ts
  backend/src/services/taskstemplates/astronomy.templates.ts
  backend/src/services/taskstemplates/biology.templates.ts
  backend/src/services/taskstemplates/chemistry.templates.ts
  backend/src/services/taskstemplates/computer-science.templates.ts
  backend/src/services/taskstemplates/dataStructures.templates.ts
  backend/src/services/taskstemplates/dynamicProgramming.templates.ts
  backend/src/services/taskstemplates/earth-science.templates.ts
  backend/src/services/taskstemplates/economics.templates.ts
  backend/src/services/taskstemplates/english.templates.ts
  backend/src/services/taskstemplates/geography.templates.ts
  backend/src/services/taskstemplates/graph.templates.ts
  backend/src/services/taskstemplates/greedy.templates.ts
  backend/src/services/taskstemplates/history.templates.ts
  backend/src/services/taskstemplates/index.ts
  backend/src/services/taskstemplates/linguistics.templates.ts
  backend/src/services/taskstemplates/math.templates.ts
  backend/src/services/taskstemplates/philosophy.templates.ts
  backend/src/services/taskstemplates/physics.templates.ts
  backend/src/services/taskstemplates/string.templates.ts
  backend/src/services/taskstemplates/textProcessing.templates.ts
  backend/src/services/template.service.ts
  backend/src/types/generated.ts
Labels: BACKEND, AI, AI TASK

#11 task queries
  backend/src/resolvers/queries/index.ts
  backend/src/resolvers/queries/task/get-task.ts
  backend/src/resolvers/queries/task/get-tasks-by-difficulty.ts
  backend/src/resolvers/queries/task/get-tasks-by-topic.ts
  backend/src/resolvers/queries/task/get-tasks.ts
  backend/src/resolvers/queries/task/index.ts
Labels: BACKEND, AI, AI TASK

#13 answer model, task ai answer
  backend/src/models/Answer.model.ts
  backend/src/models/index.ts
  backend/src/resolvers/mutations/task/generate-task-answer.ts
  backend/src/resolvers/mutations/task/index.ts
  backend/src/resolvers/queries/answer/get-answer.ts
  backend/src/resolvers/queries/answer/index.ts
  backend/src/resolvers/queries/index.ts
  backend/src/resolvers/queries/task/get-tasks-by-difficulty.ts
  backend/src/resolvers/queries/task/get-tasks-by-topic.ts
  backend/src/schemas/task.schema.ts
  backend/src/services/ai.service.ts
  backend/src/types/generated.ts
Labels: BACKEND, PINEQUEST, AI, AI TASK

#28 backend challenge 1v1 task/answer fixed
  backend/src/models/Challenge.model.ts
  backend/src/resolvers/mutations/challenge/assign-tasks-to-challenge.ts
  backend/src/resolvers/mutations/challenge/create-challenge.ts
  backend/src/resolvers/mutations/challenge/index.ts
  backend/src/resolvers/queries/challenge/get-challenge.ts
  backend/src/resolvers/queries/challenge/get-listChallenges.ts
  backend/src/resolvers/queries/challenge/get-listStudentChallengeResponses.ts
  backend/src/schemas/challenge.schema.ts
  backend/src/schemas/task.schema.ts
  backend/src/services/ai.client.ts
  backend/src/services/ai.mappers.ts
  backend/src/services/ai.prompts.ts
  backend/src/services/ai.service.new.ts
  backend/src/services/ai.service.ts
  backend/src/services/ai.types.ts
  backend/src/services/answer-generator.service.ts
  backend/src/services/task-utils.service.ts
  backend/src/services/taskGenerator.service.ts
  backend/src/services/taskstemplates/algorithms.templates.ts
  backend/src/services/taskstemplates/astronomy.templates.ts
  backend/src/services/taskstemplates/computer-science.templates.ts
  backend/src/services/taskstemplates/dataStructures.templates.ts
  backend/src/services/taskstemplates/dynamicProgramming.templates.ts
  backend/src/services/taskstemplates/earth-science.templates.ts
  backend/src/services/taskstemplates/economics.templates.ts
  backend/src/services/taskstemplates/geography.templates.ts
  backend/src/services/taskstemplates/grade-appropriate-templates.ts
  backend/src/services/taskstemplates/graph.templates.ts
  backend/src/services/taskstemplates/greedy.templates.ts
  backend/src/services/taskstemplates/index.ts
  backend/src/services/taskstemplates/philosophy.templates.ts
  backend/src/services/taskstemplates/string.templates.ts
  backend/src/services/taskstemplates/textProcessing.templates.ts
  backend/src/services/template.service.ts
Labels: BACKEND, PINEQUEST, AI, AI TASK, GRAPHQL

#37 video call room and fixed the bugs
  frontend/src/app/video-call/page.tsx
  frontend/src/components/VideoCall.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/video-call/Controls.tsx
  frontend/src/components/video-call/LocalTile.tsx
  frontend/src/components/video-call/RemoteGrid.tsx
  frontend/src/hooks/useLiveKit.ts
  frontend/src/hooks/useRemoteVideos.ts
  frontend/src/utils/livekit.ts
Labels: BACKEND, FRONTEND, VIDEO ROOM, LIVE_KIT

#48 added errors
  LIVEKIT_SETUP.md
  backend/src/resolvers/mutations/student/answer/update-student-answer.ts
  backend/src/resolvers/queries/student/answer/get-student-answers-by-class-type.ts
  backend/src/resolvers/queries/student/answer/index.ts
  backend/src/resolvers/queries/student/get-students-by-class-type-id.ts
  backend/src/schemas/student.schema.ts
  backend/src/schemas/studentAnswer.schema.ts
  frontend/codegen.yml
  frontend/package.json
  frontend/src/app/admin/page.tsx
  frontend/src/app/host/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/tournament/[id]/admin-bracket/page.tsx
  frontend/src/app/tournament/[id]/duel/[matchId]/page.tsx
  frontend/src/app/tournament/[id]/student-bracket/page.tsx
  frontend/src/components/admin/OlympiadModal.tsx
  frontend/src/components/host/ClassTypeSection.tsx
  frontend/src/components/host/HostSidebar.tsx
  frontend/src/components/host/OlympiadForm.tsx
  frontend/src/components/host/OlympiadList.tsx
  frontend/src/components/host/StudentAnswerForm.tsx
  frontend/src/components/tournament/AdminTournamentCard.tsx
  frontend/src/components/tournament/CreateMatchingModal.tsx
  frontend/src/components/tournament/CreateTournamentModal.tsx
  frontend/src/components/tournament/StudentTournamentCard.tsx
  frontend/src/components/tournament/UpdateTournamentStatusModal.tsx
  frontend/src/components/tournament/UpdateWinnerModal.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/graphql/student.graphql
  frontend/src/lib/dateUtils.ts
  frontend/src/providers/AppolloWrapper.tsx
  frontend/yarn.lock
Labels: BACKEND, FRONTEND, PINEQUEST, GRAPHQL

#50 added fast jump
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/providers/JumpPages.tsx
  frontend/yarn.lock
Labels: FRONTEND

#56 added nodemailer, also with separated into 3 files
  backend/.gitignore
  backend/environment.d.ts
  backend/next.config.ts
  backend/package-lock.json
  backend/package.json
  backend/src/utils/class-year-mapper.ts
  backend/src/utils/email-services.ts
  backend/src/utils/email-transporter.ts
  backend/src/utils/nodemailer.ts
  backend/yarn.lock
Labels: BACKEND, PINEQUEST, STUDENT, GRAPHQL

#59 54 frontend homepage
  backend/vercel.json
  frontend/components.json
  frontend/package.json
  frontend/public/images/Lucid.jpg
  frontend/src/app/example/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/landing-page/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/tournament/[id]/admin-bracket/page.tsx
  frontend/src/app/tournament/[id]/bracket/page.tsx
  frontend/src/app/tournament/[id]/duel/[matchId]/page.tsx
  frontend/src/app/tournament/[id]/student-bracket/page.tsx
  frontend/src/app/tournament/page.tsx
  frontend/src/app/video-call/page.tsx
  frontend/src/components/NotificationCenter.tsx
  frontend/src/components/VideoCall.tsx
  frontend/src/components/landingPage/CompleteRank.tsx
  frontend/src/components/landingPage/Header.tsx
  frontend/src/components/landingPage/Section.tsx
  frontend/src/components/landingPage/StudentRanking.tsx
  frontend/src/components/landingPage/index.ts
  frontend/src/components/tournament/AdminTournamentCard.tsx
  frontend/src/components/tournament/CreateMatchingModal.tsx
  frontend/src/components/tournament/CreateTournamentModal.tsx
  frontend/src/components/tournament/StudentTournamentCard.tsx
  frontend/src/components/tournament/UpdateTournamentStatusModal.tsx
  frontend/src/components/tournament/UpdateWinnerModal.tsx
  frontend/src/components/tournament/index.ts
  frontend/src/components/ui/button.tsx
  frontend/src/components/video-call/Controls.tsx
  frontend/src/components/video-call/LocalTile.tsx
  frontend/src/components/video-call/RemoteGrid.tsx
  frontend/src/graphql/mutations.graphql
  frontend/src/graphql/tournament.graphql
  frontend/src/hooks/useLiveKit.ts
  frontend/src/hooks/useNotifications.ts
  frontend/src/hooks/useRemoteVideos.ts
  frontend/src/hooks/useSocketIO.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/dateUtils.ts
  frontend/src/lib/livekit.ts
  frontend/src/lib/utils.ts
  frontend/src/providers/JumpPages.tsx
  frontend/src/utils/livekit.ts
  frontend/yarn.lock
Labels: FRONTEND

#60 fixed the service bug
  backend/package-lock.json
  backend/src/models/Olympiad.model.ts
  backend/src/resolvers/mutations/olympiad/finish-olympiad.ts
  backend/src/services/rankingService.ts
Labels: BACKEND, SERVICE

#78 landing page background
  frontend/package.json
  frontend/src/app/landing-page/page.tsx
  frontend/src/components/landingPage/LandingBackground.tsx
  frontend/src/components/landingPage/PillNav.tsx
  frontend/src/components/landingPage/background/AchievementIcons.tsx
  frontend/src/components/landingPage/background/AnimatedGradients.tsx
  frontend/src/components/landingPage/background/AnimatedGridPattern.tsx
  frontend/src/components/landingPage/background/ExcellencePathwayLines.tsx
  frontend/src/components/landingPage/background/FlameElements.tsx
  frontend/src/components/landingPage/background/FloatingAchievementStars.tsx
  frontend/src/components/landingPage/background/HexagonalMedals.tsx
  frontend/src/components/landingPage/background/OlympicRings.tsx
  frontend/src/components/landingPage/background/PodiumElements.tsx
  frontend/src/components/landingPage/background/index.ts
  frontend/yarn.lock
Labels: FRONTEND, PINEQUEST

#83 added pillnav in header
  frontend/src/components/landingPage/Header.tsx
Labels: FRONTEND, PINEQUEST

#98 added individual student page
  frontend/next.config.ts
  frontend/src/app/student/[id]/page.tsx
  frontend/src/components/student/StudentAchievements.tsx
  frontend/src/components/student/StudentDetail.tsx
  frontend/src/components/student/StudentProfileHeader.tsx
  frontend/src/components/student/StudentRankingHistory.tsx
  frontend/src/components/student/StudentStatsCards.tsx
  frontend/src/components/student/index.ts
  frontend/src/hooks/useStudentDetail.ts
  frontend/src/utils/gradeUtils.ts
Labels: PINEQUEST, STUDENT

#105 edited
  frontend/src/graphql/student.graphql
Labels: FRONTEND, GRAPHQL

#109 certificate done
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/student/page.tsx
  frontend/src/components/student/README.md
  frontend/src/components/student/StudentSidebar.tsx
  frontend/src/components/student/certificate/Certificate.tsx
  frontend/src/components/student/certificate/index.tsx
  frontend/src/components/student/tabs/AchievementsTab.tsx
  frontend/src/components/student/tabs/ProfileTab.tsx
  frontend/src/components/student/tabs/SettingsTab.tsx
  frontend/src/components/student/tabs/index.ts
  frontend/src/lib/province-utils.ts
  frontend/yarn.lock
Labels: FRONTEND, STUDENT, 3D

#110 footer added with logo loop
  frontend/public/images/MCS_Group_Logo.png
  frontend/public/images/cal.png
  frontend/public/images/ecm.png
  frontend/public/images/pinecone_logo.png
  frontend/public/images/shunkhlai.png
  frontend/public/images/techpack_group_logo.png
  frontend/src/app/page.tsx
  frontend/src/components/LogoLoop.tsx
  frontend/src/components/landingPage/CompleteRank.tsx
  frontend/src/components/landingPage/Footer.tsx
  frontend/src/components/landingPage/Section.tsx
  frontend/src/components/landingPage/index.ts
  frontend/src/components/studentsRanking/StudentsRanking.tsx
Labels: FRONTEND, PINEQUEST

#112 deploy ready git add .
  frontend/.vercelignore
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package.json
  frontend/src/components/student/DebugRanking.tsx
  frontend/src/components/student/tabs/ProfileTab.tsx
  frontend/vercel.json
Labels: FRONTEND, DEPLOY

#114 deployment updated vercel.json
  frontend/vercel.json
  vercel.json
Labels: FRONTEND, DEPLOY

#123 fixed
  frontend/src/components/landingPage/Footer.tsx
Labels: FRONTEND, PINEQUEST

#121 feat: Complete olympiad management system with all ranking types
  backend/package.json
  backend/src/lib/enumUtils.ts
  backend/src/models/ClassRoom.model.ts
  backend/src/models/ClassType.model.ts
  backend/src/models/Olympiad.model.ts
  backend/src/models/StudentAnswer.model.ts
  backend/src/models/index.ts
  backend/src/resolvers/mutations/classRoom/create-class-room.ts
  backend/src/resolvers/mutations/classRoom/delete-class-room.ts
  backend/src/resolvers/mutations/classRoom/index.ts
  backend/src/resolvers/mutations/classRoom/update-class-room.ts
  backend/src/resolvers/mutations/classType/create-classType.ts
  backend/src/resolvers/mutations/classType/finalize-class-type-rankings.ts
  backend/src/resolvers/mutations/classType/index.ts
  backend/src/resolvers/mutations/index.ts
  backend/src/resolvers/mutations/migrate-class-year.ts
  backend/src/resolvers/mutations/olympiad/create-olympiad.ts
  backend/src/resolvers/mutations/student/add-student-result.ts
  backend/src/resolvers/mutations/student/answer/create-student-answer.ts
  backend/src/resolvers/mutations/student/answer/update-student-answer.ts
  backend/src/resolvers/mutations/student/assign-medal.ts
  backend/src/resolvers/mutations/student/index.ts
  backend/src/resolvers/mutations/student/register-for-olympiad.ts
  backend/src/resolvers/queries/classRoom/all-class-rooms.ts
  backend/src/resolvers/queries/classRoom/class-room.ts
  backend/src/resolvers/queries/classRoom/index.ts
  backend/src/resolvers/queries/classType/all-classTypes.ts
  backend/src/resolvers/queries/classType/classType.ts
  backend/src/resolvers/queries/classType/classTypes-by-classYear.ts
  backend/src/resolvers/queries/classType/classTypes-by-olympiad.ts
  backend/src/resolvers/queries/host/all-host.ts
  backend/src/resolvers/queries/index.ts
  backend/src/schemas/classRoom.schema.ts
  backend/src/schemas/classType.schema.ts
  backend/src/schemas/index.ts
  backend/src/schemas/olympiad.schema.ts
  backend/src/schemas/question.schema.ts
  backend/src/schemas/studentAnswer.schema.ts
  backend/src/utils/mandat-number-generator.ts
  frontend/codegen.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/host/page.tsx
  frontend/src/components/host/ClassTypeSection.tsx
  frontend/src/components/host/HostSidebar.tsx
  frontend/src/components/host/OlympiadForm.tsx
  frontend/src/components/studentsRanking/StudentsRanking.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/date-picker.tsx
  frontend/src/graphql/organizer.graphql
  frontend/src/providers/AppolloWrapper.tsx
  frontend/src/utils/rankingUtils.ts
  frontend/yarn.lock
Labels: BACKEND, FRONTEND, STUDENT, ORGANIZER, GRAPHQL, OLYMPIAD

#132 deploy ready
  backend/src/resolvers/mutations/classRoom/create-class-room.ts
  backend/src/resolvers/mutations/classType/create-bestMaterial.ts
  backend/src/resolvers/mutations/classType/delete-bestMaterial.ts
  backend/src/resolvers/mutations/classType/finalize-class-type-rankings.ts
  backend/src/resolvers/mutations/classType/update-bestMaterial.ts
  backend/src/resolvers/mutations/student/answer/create-student-answer.ts
  backend/src/resolvers/mutations/student/answer/update-student-answer.ts
  backend/src/resolvers/mutations/student/register-for-olympiad.ts
  backend/src/resolvers/queries/classType/best-materials-by-classType.ts
  backend/src/resolvers/queries/classType/get-all-best-materials.ts
  backend/src/resolvers/queries/classType/participants-by-classType.ts
  backend/src/resolvers/queries/classType/students-results-by-classType.ts
  backend/src/resolvers/queries/index.ts
  backend/src/services/invitationService.ts
  backend/src/services/rankingService.ts
  backend/src/utils/email-services.ts
  backend/src/utils/mandat-number-generator.ts
  backend/src/utils/nodemailer.ts
Labels: BACKEND, GRAPHQL, DEPLOY

#138 Add comprehensive update mutation for olympiad
  backend/src/resolvers/mutations/olympiad/index.ts
  backend/src/resolvers/mutations/olympiad/update-olympiad-comprehensive.ts
  backend/src/schemas/olympiad.schema.ts
Labels: BACKEND, ORGANIZER, GRAPHQL, OLYMPIAD

#142 schema fixed temp
  frontend/codegen.yml
  frontend/src/graphql/getAllOrganizersQuery.graphql
  frontend/src/graphql/olympiad.graphql
Labels: FRONTEND, PINEQUEST

#146 deploy ready
  backend/src/resolvers/mutations/olympiad/update-olympiad-comprehensive.ts
Labels: BACKEND, DEPLOY

#148 147 backend fixing classroom type errors
  backend/src/models/ClassRoom.model.ts
  backend/src/models/ClassType.model.ts
  backend/src/models/StudentAnswer.model.ts
  backend/src/resolvers/mutations/classRoom/create-class-room.ts
  backend/src/resolvers/mutations/classRoom/delete-class-room.ts
  backend/src/resolvers/mutations/classRoom/update-class-room.ts
  backend/src/resolvers/mutations/classType/create-classType.ts
  backend/src/resolvers/mutations/classType/finalize-class-type-rankings.ts
  backend/src/resolvers/mutations/classType/update-classType.ts
  backend/src/resolvers/mutations/olympiad/create-olympiad.ts
  backend/src/resolvers/mutations/olympiad/update-olympiad-comprehensive.ts
  backend/src/resolvers/mutations/student/register-for-olympiad.ts
  backend/src/resolvers/mutations/student/update-student.ts
  backend/src/resolvers/queries/classRoom/get-class-room-by-mandat-number.ts
  backend/src/resolvers/queries/classType/all-classTypes.ts
  backend/src/resolvers/queries/classType/classType.ts
  backend/src/resolvers/queries/classType/classTypes-by-classYear.ts
  backend/src/resolvers/queries/classType/classTypes-by-olympiad.ts
  backend/src/resolvers/queries/olympiad/olympiad.ts
  backend/src/schemas/classRoom.schema.ts
  backend/src/schemas/classType.schema.ts
  backend/src/schemas/common.schema.ts
  backend/src/schemas/olympiad.schema.ts
  backend/src/schemas/studentAnswer.schema.ts
  backend/src/utils/class-year-mappers 2.ts
  backend/src/utils/class-year-mappers.ts
  backend/src/utils/errorHandler.ts
  backend/src/utils/mandat-number-generator.ts
  backend/src/utils/paginationHelper.ts
  backend/src/utils/province-region-mapper.ts
  backend/src/utils/room-assignment.ts
  backend/src/utils/transactionHelper.ts
  backend/src/utils/validationHelper.ts
Labels: BACKEND, GRAPHQL

#170 header fixed/changed
  frontend/package.json
  frontend/src/components/landingPage/Header.tsx
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/components/ui/separator.tsx
  frontend/yarn.lock
Labels: FRONTEND, PINEQUEST

#184 olympiad page background fix/ individual olympiad card design fix
  frontend/src/app/olympiad/[id]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/landingPage/Olympiad.tsx
  frontend/src/components/ui/PageTransition.tsx
Labels: FRONTEND, PINEQUEST, ORGANIZER, OLYMPIAD

#197 done deploy ready
  frontend/src/components/host/results/MedalManagementInterface.tsx
  frontend/src/graphql/organizer/query/query-organizer.graphql
Labels: FRONTEND, DEPLOY

#205 added 3d mandate
  backend/src/resolvers/mutations/student/register-for-olympiad.ts
  backend/src/resolvers/queries/index.ts
  backend/src/resolvers/queries/mandat/get-mandat-data-by-student-answer.ts
  backend/src/resolvers/queries/mandat/get-mandat-data.ts
  backend/src/resolvers/queries/mandat/get-olympiad-mandats.ts
  backend/src/resolvers/queries/mandat/get-student-mandats.ts
  backend/src/resolvers/queries/mandat/index.ts
  backend/src/schemas/index.ts
  backend/src/schemas/mandat.schema.ts
  backend/src/services/mandatService.ts
  frontend/src/app/student/page.tsx
  frontend/src/components/student/StudentSidebar.tsx
  frontend/src/components/student/mandat/Mandat3D.tsx
  frontend/src/components/student/mandat/MandatDisplay.tsx
  frontend/src/components/student/mandat/index.ts
  frontend/src/graphql/mandat/query/query-mandat.graphql
  frontend/src/lib/dateUtils.ts
  frontend/src/providers/AppolloWrapper.tsx
Labels: BACKEND, FRONTEND, GRAPHQL
